<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.FilmMapper">

<!--  select c.* from sys_category as c , sys_film as f  where f.id=2 and f.category_id =c.id-->
<!--    <select id="getCategoryById" resultType="com.system.entity.Film" parameterType="java.lang.Long">-->
<!--        select c.* from sys_category as c left join sys_film as f on  f.category_id =c.id where f.category_id=#{id}-->
<!--    </select>-->
<!--    <select id="getCategoryById" resultType="com.system.entity.Film" parameterType="java.lang.Long">-->
<!--        select c.* from sys_category as c , sys_film as f  where f.id=#{id} and f.category_id =c.id-->
<!--    </select>-->
</mapper>
